@use 'src/assets/styles/poll-colors.scss';
@use 'src/assets/styles/poll-styles-common.scss';

.ranking-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ranking-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ranking-item-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ranking-item-controls button {
    margin-left: 0.25rem;
}

.ranking-available-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ranking-available-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}
