<div>
    <ol class="ranking-list">
        <li *ngFor="let candidate of rankedCandidates; let i = index" class="ranking-item">
            <div class="ranking-item-row">
                <span class="ranking-item-name">
                    {{ i + 1 }}. {{ candidate.content_object?.getTitle?.() || candidate.text }}
                </span>
            </div>
        </li>
    </ol>
    
    @if (rankedCandidates.length > 0) {
        <os-sorting-list
            [enable]="true"
            [input]="rankedCandidates"
            [live]="true"
            (sortEvent)="onSortingChanged($event)"
        >
            <ng-template let-index="index" let-candidate>
                <div class="ranking-item">
                    <span class="ranking-item-name">
                        {{ index + 1 }}. {{ candidate.content_object?.getTitle?.() || candidate.text }}
                    </span>
                    <button
                        class="mat-mdc-tooltip-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                        mat-icon-button
                        matTooltip="{{ 'Remove from ranking' | translate }}"
                        (click)="callRemoveFromRanking(candidate)"
                    >
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </ng-template>
        </os-sorting-list>
    }  
    <!-- <div style="margin-top: 2rem;">
        <h4>{{ 'Available Candidates' | translate }}</h4>
        <div class="ranking-available-list">
            <div *ngFor="let candidate of availableCandidates" class="ranking-available-item">
                <span>
                    {{ candidate.content_object?.getTitle?.() || candidate.text }}
                </span>
                <button
                    class="mat-mdc-tooltip-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
                    mat-icon-button
                    matTooltip="{{ 'Add to ranking' | translate }}"
                    (click)="addToRanking(candidate)"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div> -->
</div>